<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>URI Judge</title>
</head>
<body>
  <!-- Header: -->
  {% include 'includes/_header.html' %}
  <!-- Main Content: -->
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  <!-- Scripts: -->
</body>
</html>
